{% extends 'parent/base.html' %}
{% block content %}
{% load static %}

        <div class = "col-9" >

                          {% include 'components/question-item.html' %}


            <div class = "ans">
                {% for answer in answers%}
                            <div class="rowplusans">
                                <div class="col-2">
                                    
                                    <img src="{% static '/avatar.jpg'%}" height="110px" width="110px"
                                        style="border: 1px solid black; object-fit: cover; margin-top: 20px; margin-bottom: 20px; margin-left: 2px;">
                                
                                </div>
                                <div class="col-9">
                                        <div class="row">
                                                <a href="#" style="font-size: 20px; text-decoration: underline; color:rgb(5, 5, 113); font-weight: bold;">  {{answer.title}}
                                                </a>
                                        </div>
                                        <div class="row">
                                                <div style="font-size: 17px; color:black">{{answer.content}}</div>
                                        </div>
                                        <div class="row">
                                            <div class=" col-2" style="margin-left: 480px; margin-top: 20px;">
                                                <button type="button" class="btn btn-danger btn-icon" style="padding: 1px 10px; line-height: 6px; margin-bottom: 15px;">
                                                    <span class="icon"><i class="fa fa-heart" style="vertical-align: middle;"></i><span style="margin-left: 7px">12</span></span>Like!
                                                </button>
                                            </div>
                                        
                                        </div>
                                </div>
                            </div>
                {% endfor %}

                          {% include 'components/paginatorans-item.html' %}
                
            </div>

            <div class="row">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Напишите свой ответ" style="background-color: #ECCDB1;"></textarea>
                <button class="btn btn-my" style="margin-top: 5px; margin-left: 760px;">Ответить</button>
            </div>
            


        </div>
{% endblock %}