{% extends 'parent/base.html' %}
{% block content %}
{% load static %}


        <div class="col-7">
            <div class="row" style="margin-left: 75px; align-items: center;">
                <div class="col-7" style="border: 1px solid #271007; border-radius: 5px; vertical-align: center; background-color: #ECCDB1; margin-top: 10px; margin-bottom: 10px;">
                    <h3><strong>Зарегистрируйтесь:</strong></h3>
                </div>
                <div class="col-4" style="margin-left: 47px;">
                    <a href="{% url 'login' %}" style="color: #fff; font-weight: bold;">Уже есть аккаунт</a>
                </div>
              </div>
            <div class="ans" style="margin-left: 70px;">
                <form class="was-validated">
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputLogin" class="my-label" style="margin-top: -3px;">Логин</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="InputLogin" placeholder="pasha.ru"
                            name="InputLogin" maxlength="200" required style="background-color: #ECCDB1;">
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите логин
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z</p>
                        </div>
                        
                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputPochta" class="my-label" style="margin-top: -3px;">Email</label>
                        </div>
                        <div class="col-8">
                            <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="InputPochta" placeholder="pasha@mail.ru"
                            name="InputPochta" maxlength="200" required style="background-color: #ECCDB1;">
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите почту
                            </div>
                            <p style="font-size: 10px;">Формат: pasha@mail.ru</p>
                        </div>
                        
                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputNick" class="my-label" style="margin-top: -3px;">Ник</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" id="InputNick" placeholder="pashokSnezhok"
                            name="InputNick" maxlength="200" required style="background-color: #ECCDB1;">
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите Ник
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z; А-Я, а-я</p>
                        </div>
                        
                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputPassword" class="my-label">Пароль</label>
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control" id="InputPassword" placeholder="***"
                            name="InputPassword" maxlength="200" required style="background-color: #ECCDB1;">
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите пароль
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z; 0-9. Минимум 8 символов.</p>
                        </div>
                        
                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputPassword" class="my-label">Повторить пароль</label>
                        </div>
                        <div class="col-8">
                            <input type="password" class="form-control" id="InputRepeatPassword" placeholder="***"
                            name="InputRepeatPassword" maxlength="200" required style="background-color: #ECCDB1;">
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите пароль
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z; 0-9. Минимум 8 символов.</p>
                        </div>
                        
                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                    <div class="form-group">
                        <label for="InputAvatar" class="my-label">Загрузите аватар в формате .png, .jpg</label>
                        <input type="file" class="form-control-file" id="InputAvatar"
                            accept="image/png, image/jpeg">
                    </div>
                </div>
                    <div class="row">
                        <button class="btn btn-my" type="submit" style="margin-left: 380px; margin-top: -20px;">Зарегистрироваться</button>
                    </div>

                </form>

            </div>
             <div id="errorMessage" style="border: 1px solid red; background-color: #f8d7da; color: red; padding: 10px; margin-top: 10px; margin-left: 70px; display: none;">
                    Пользователь с такой почтой уже существует!
                </div>
            
        </div>
        
{% endblock %}