{% extends 'parent/base.html' %}
{% block content %}
{% load static %}

        <div class="col-7">
            <div class="row" style="margin-left: 75px;">
                <div class="col-6" style="border: 1px solid #271007; border-radius: 5px; vertical-align: center; background-color: #ECCDB1; margin-top: 10px; margin-bottom: 10px;">
                    <h3><strong>Авторизируйтесь:</strong></h3>
                </div>
              </div>
            <div class="ans" style="margin-left: 70px;">
                <form method="post">
                {% csrf_token %}
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputPassword" class="my-label" style="margin-top: -3px;">Логин</label>
                        </div>
                        <div class="col-8">
                             {{ form.username }}
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите логин
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z</p>
                        </div>
                        
                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputPassword" class="my-label">Пароль</label>
                        </div>
                        <div class="col-8">
                            {{ form.password }}
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите пароль
                            </div>
                             <p style="font-size: 10px;">Формат: A-Z, a-z; 0-9. Минимум 8 символов.</p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <button class="btn btn-my" type="submit" style="margin-left: 485px; margin-top: -20px;">Войти</button>
                    </div>
    
                </form>
            </div>
            <div class="row" style="margin-left: 75px;">
                <a href="{% url 'signup' %}" style="color: #fff; font-weight: bold;">Создать новый аккаунт</a>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger" style="margin-top: 10px;">
                  <strong>Пользователь с такими данными не найден</strong><br>
            </div>
            {% endif %}
        </div>
        
{% endblock %}
