{% extends 'parent/base.html' %}
{% block content %}
{% load static %}

        <div class = "col-9" >

                          {% include 'components/question-item.html' %}


            <div class = "ans">
                {% for answer in answers%}
                            <div class="rowplusans">
                                <div class="col-2">
                                        {% if answer.profile.avatar == "avatar.jpg" %}
                                            <img src="{% static '/avatar.jpg'%}" height="110px" width="110px"
                                        style="border: 1px solid black; object-fit: cover; margin-top: 20px; margin-bottom: 20px; margin-left: 2px;">
                                        {% else %}
                                            <img src="{{ answer.profile.avatar.url }}" height="110px" width="110px"
                                        style="border: 1px solid black; object-fit: cover; margin-top: 20px; margin-bottom: 20px; margin-left: 2px;">
                                        {% endif %}
                                </div>
                                <div class="col-9">
                                        <div class="row">
                                                <a href="#" style="font-size: 20px; text-decoration: underline; color:rgb(5, 5, 113); font-weight: bold;">{{ answer.profile.user.username }} считает:
                                                </a>
                                        </div>
                                        <div class="row">
                                                <div style="font-size: 17px; color:black">{{answer.text}}</div>
                                        </div>
                                        <div class="row like-answer-list" data-id="{{ answer.pk }}">
                                            {% if answer.is_correct %}
                                            {% if request.user.profile == answer.question.profile %}
                                            <div class="col-9" data-id="{{ answer.pk }}" style="margin-left: 350px; margin-top: 20px; position: relative;">
                                                <input type="checkbox" id={{ answer.pk }} checked>
                                                <label for="myCheckbox">Правильный ответ</label>
                                            {% else %}
                                                <div class="col-9" data-id="{{ answer.pk }}" style="margin-left: 350px; margin-top: 20px; position: relative;">
                                                <input type="checkbox" id={{ answer.pk }} disabled checked>
                                                <label for="myCheckbox">Правильный ответ</label>
                                            {% endif %}
                                            {% else %}
                                        {% if request.user.profile == answer.question.profile %}
                                            <div class="col-9" data-id="{{ answer.pk }}" style="margin-left: 350px; margin-top: 20px; position: relative;">
                                                <input type="checkbox" id={{ answer.pk }}>
                                                <label for="myCheckbox">Правильный ответ</label>
                                            {% else %}
                                                <div class="col-9" data-id="{{ answer.pk }}" style="margin-left: 350px; margin-top: 20px; position: relative;">
                                                <input type="checkbox" id={{ answer.pk }} disabled>
                                                <label for="myCheckbox">Правильный ответ</label>
                                            {% endif %}
                                            {% endif %}
                                            <div style="display: inline-block; background-color: beige; padding: 5px; border-radius: 5px; margin-bottom: 15px">
                                                    {% if request.user.profile.id in answer.check_good%}
                                                        <button type="button" class="btn btn-danger btn-icon dislike-btn" data-answer-id="{{ answer.id }}" style="line-height: 6px; width: 40px">
                                                            <span class="icon">
                                                                <i class="fa fa-thumbs-down" style="vertical-align: middle; color: white"></i>
                                                            </span>
                                                        </button>
                                                        <span style="margin-left: 1px; color: #ba2121" id="rating-count-{{ answer.id }}">{{ answer.rating_count }}</span>
                                                        <button type="button" class="btn btn-success btn-icon like-btn" data-answer-id="{{ answer.id }}" style="line-height: 6px; width: 40px">
                                                            <span class="icon">
                                                                <i class="fa fa-heart" style="vertical-align: middle; color: darkgreen"></i>
                                                            </span>
                                                        </button>
                                                    {% elif request.user.profile.id in answer.check_bad%}
                                                            <button type="button" class="btn btn-danger btn-icon dislike-btn" data-answer-id="{{ answer.id }}" style="line-height: 6px; width: 40px">
                                                                <span class="icon">
                                                                    <i class="fa fa-thumbs-down" style="vertical-align: middle; color: darkred"></i>
                                                                </span>
                                                            </button>
                                                            <span style="margin-left: 1px; color: #ba2121" id="rating-count-{{ answer.id }}">{{ answer.rating_count }}</span>
                                                            <button type="button" class="btn btn-success btn-icon like-btn" data-answer-id="{{ answer.id }}" style="line-height: 6px; width: 40px">
                                                                <span class="icon">
                                                                    <i class="fa fa-heart" style="vertical-align: middle; color: white"></i>
                                                                </span>
                                                            </button>
                                                    {% else %}
                                                            <button type="button" class="btn btn-danger btn-icon dislike-btn" data-answer-id="{{ answer.id }}" style="line-height: 6px; width: 40px">
                                                                <span class="icon">
                                                                    <i class="fa fa-thumbs-down" style="vertical-align: middle; color: white"></i>
                                                                </span>
                                                            </button>
                                                            <span style="margin-left: 1px; color: #ba2121" id="rating-count-{{ answer.id }}">{{ answer.rating_count }}</span>
                                                            <button type="button" class="btn btn-success btn-icon like-btn" data-answer-id="{{ answer.id }}" style="line-height: 6px; width: 40px">
                                                                <span class="icon">
                                                                    <i class="fa fa-heart" style="vertical-align: middle; color: white"></i>
                                                                </span>
                                                            </button>
                                                    {% endif %}
                                                    </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                {% endfor %}

                          {% include 'components/paginatorans-item.html' %}
                
            </div>

            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    {{ form.text }}
                    <button class="btn btn-my" style="margin-top: 5px; margin-left: 760px;">Ответить</button>
                </form>
            </div>



{% endblock %}