{% extends 'parent/base.html' %}
{% block content %}
{% load static %}

        <div class="col-7">
            <div class="row" style="margin-left: 75px; align-items: center;">
                <div class="col-4" style="border: 1px solid #271007; border-radius: 5px; vertical-align: center; background-color: #ECCDB1; margin-top: 10px; margin-bottom: 10px;">
                    <h3><strong>Настройки</strong></h3>
                </div>
              </div>
            <div class="ans" style="margin-left: 70px;">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputLogin" class="my-label" style="margin-top: -3px;">Логин</label>
                        </div>
                        <div class="col-8">
                            {{ form.username }}
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите логин
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z</p>
                        </div>

                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputPochta" class="my-label" style="margin-top: -3px;">Email</label>
                        </div>
                        <div class="col-8">
                            {{ form.email }}
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите почту
                            </div>
                            <p style="font-size: 10px;">Формат: pasha@mail.ru</p>
                        </div>

                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                        <div class="col-2">
                            <label for="InputNick" class="my-label" style="margin-top: -3px;">Ник</label>
                        </div>
                        <div class="col-8">
                            {{ form.nickname }}
                            <div class="invalid-feedback" style="color: black; margin-left: 340px; margin-top:-20px;text-decoration: underline;">
                                Введите Ник
                            </div>
                            <p style="font-size: 10px;">Формат: A-Z, a-z; А-Я, а-я</p>
                        </div>

                    </div>
                    <div class="rowplus" style="height: 80px; display: flex; align-items: center;">
                    <div class="form-group">
                        <label for="InputAvatar" class="my-label">Загрузите аватар в формате .png, .jpg</label>
                        {{ form.avatar }}
                    </div>
                </div>
                    <div class="row">
                        <button class="btn btn-my" type="submit" style="margin-left: 380px; margin-top: -20px;">Сохранить изменения</button>
                    </div>
                </form>

            </div>
             {% if form.errors %}
              <div class="alert alert-danger">
                <ul>
                  {% for field in form %}
                  {% if field.errors %}
                  {% for error in field.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
                {% endif %}
        {% if messages %}
    <ul>
        {% for message in messages %}
            <div class="alert-success">
            <li>{{ message }}</li>
            </div>
        {% endfor %}
    </ul>
{% endif %}

        </div>
        
{% endblock %}