{% load static %}
<div class="rowplus">
                                  <div class="col-2">

                                      <img src="{% static '/avatar.jpg' %}" height="110px" width="110px"
                                          style="border: 1px solid black; object-fit: cover; margin-top: 20px; margin-bottom: 20px; margin-left: 2px;">

                                  </div>
                                  <div class="col-9">
                                            <div class="row">
                                                <a href="{% url 'question' question.id %}" style="font-size: 20px; text-decoration: underline; color:rgb(5, 5, 113); font-weight: bold;"> {{question.title}}</a>
                                                <div class="row" style="margin-left: 10px; display: flex; align-items: center;">
                                                    <div style="flex: 3;">
                                                        <a href="{% url 'question' question.id %}" style="font-size: 15px; text-decoration: underline; color:#ECCDB1; font-weight: bold;">Ответы <span>({{ question.answers_count }})</span></a>
                                                    </div>
                                                    <div style="font-weight: bold; color: #ECCDB1; margin-left: 10px">Теги:</div>
                                                    <div style="flex: 2; display: flex;">
                                                        {% for tag in question.get_tags %}
                                                        <a href="{% url 'tagind' tag %}" style="font-size: 15px; text-decoration: underline; font-weight: bold; color: #ECCDB1; margin-right: 10px;">{{ tag }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                    <div style="font-size: 17px; color:black">{{question.text}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4" style="margin-left: 470px; margin-top: 20px; position: relative;">
                                                    <div style="display: inline-block; background-color: beige; padding: 5px; border-radius: 5px; margin-bottom: 15px">
                                                        <button type="button" class="btn btn-success btn-icon" style="line-height: 6px; width: 40px">
                                                            <span class="icon">
                                                                <i class="fa fa-heart" style="vertical-align: middle;"></i>
                                                            </span>
                                                        </button>
                                                        <span style="margin-left: 1px; color: #ba2121">{{question.rating_count}}</span>
                                                        <button type="button" class="btn btn-danger btn-icon" style="line-height: 6px; width: 40px">
                                                            <span class="icon">
                                                                <i class="fa fa-thumbs-down" style="vertical-align: middle;"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>
                                  </div>
                            </div>